.centrar-texto {
  text-align: center; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial,  sans-serif;
  font-weight: 400;
  line-height: 2;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #ffa0ff; }

.btn {
  border: none;
  border-radius: 3px;
  color: azure;
  background-color: blueviolet;
  width: 6rem;
  height: 3rem; }
  .btn:hover {
    box-shadow: 2rem 1rem 5rem rgba(255, 160, 255, 0.3) inset; }

.btn-centrar {
  margin-left: 50%;
  transform: translate(-50%, -50%); }

.navbar {
  position: fixed;
  width: 100%; }
  .navbar::after {
    content: "";
    display: table;
    clear: both; }
  .navbar__logo--icon {
    position: fixed;
    width: 4rem;
    height: 4rem; }
  .navbar__list {
    position: absolute;
    margin-right: 0;
    display: flex;
    font-weight: 700;
    gap: 2rem;
    list-style: none;
    right: 0;
    margin-right: 1.5rem; }
  .navbar__item {
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 2px; }
    .navbar__item:last-child {
      margin-right: 1rem; }
  .navbar__link {
    text-decoration: none; }

.principal {
  margin-top: 5rem;
  height: 90vh;
  width: 100%;
  background-color: bisque;
  width: fit-content;
  overflow: hidden; }
  .principal__contenedor {
    height: 95%;
    background-color: #fa6;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem; }
    .principal__contenedor--texto {
      background-color: #ffaf00; }
      .principal__contenedor--texto .titulo__principal {
        margin-top: .5rem;
        margin-bottom: .5rem; }
    .principal__contenedor--parrafo {
      padding: 2rem;
      text-align: justify; }
    .principal__contenedor--imagen {
      background-color: #ffa0ff;
      overflow: hidden; }
      .principal__contenedor--imagen-img {
        height: 100%;
        width: 100%; }

.productos {
  margin-top: 2rem; }
  .productos__elementos {
    display: flex;
    gap: 2.5rem;
    justify-content: center; }
    .productos__elementos--item {
      width: 30%;
      height: 8rem;
      background-color: black;
      color: white; }
      .productos__elementos--item-1 {
        color: chartreuse; }
      .productos__elementos--item-2 {
        color: tomato; }
      .productos__elementos--item-3 {
        color: blueviolet; }

.footer {
  margin-top: 3rem;
  background-color: antiquewhite;
  width: 100%; }
