.navbar{
    //position: relative;
    @include clearfix;
    position: fixed;
    //background-color: #af0;
    width: 100%;
    //margin-bottom: 1.5rem;
    //height: 5rem;

    &__logo{        

        &--icon{
            position: fixed;
            width: 4rem;
            height: 4rem;
        }
    }

    &__list{
        position: absolute;
        margin-right: 0;
        display: flex;
        font-weight: 700;
        gap: 2rem;
        list-style: none;
        right: 0;
        margin-right: 1.5rem;

        
    }

    &__item{
        //display: inline-block;
        text-transform: uppercase;
        background-color: aqua;
        border-radius: 2px;

        &:last-child{
            margin-right: 1rem;
            //background-color: blue;

        }
    }

    &__link{
        text-decoration: none;
        
    }
}