.navbar{
    //@include clearfix;
    //display: fixed;
    background-color: #af0;
    width: 100%;
    margin-bottom: 1.5rem;
    height: 8rem;

    &__logo{
        display: inline-block;
        

        &--icon{
            width: 5rem;
            height: 5rem;
        }
    }

    &__list{
        display: inline-block;
        font-weight: 700;
        left: 0;
        align-items: end;
        //text-align: end;
        //padding-right: 1rem;
    }

    &__item{
        display: inline-block;
        text-transform: uppercase;
        background-color: aqua;
        border-radius: 2px;

        &:not(:last-child){
            margin-right: .5rem;
            //background-color: blue;

        }
    }

    &__link{
        text-decoration: none;
        
    }
}