.productos{
    margin-top: 2rem;
    
    &__elementos{
        display: flex;
        gap: 2.5rem;
        justify-content: center;
        

        &--item{
            width: 30%;
            height: 8rem;
            background-color: black;
            color: white;
            
            &-1{
                color: chartreuse;
            }
            &-2{
                color:tomato;
            }
            &-3{
                color:blueviolet;
            }
        }
    }
}