.footer{
    font-family: $font;
    width: 95vw;
    height: 20vh;
    //border: 1px solid white;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__heading{
        //border: 1px solid tomato;
        margin: 5px;
        display: flex;
        justify-content: center;
        //text-align: center;
        //margin: auto;
        //align-items: center;
        //align-content: center;
        
    }
    &__items{
        display: flex;
        //border: 1px solid dodgerblue;
        margin: 5px;
        height: 90%;
        justify-content: center;
        a{
            img{
                width: 35px;
                margin: 5px;
                filter: brightness(0) saturate(100%) invert(77%) sepia(13%) saturate(221%) hue-rotate(201deg) brightness(96%) contrast(94%);
                &:hover{
                    padding-bottom: 2px;
                    transform: scale(1.1);
                    border-bottom: 1px solid rgba($color-secondary, .2);
                    
                }
            }
        }
    }
}