.home{
    height: 90vh;
    width: 95vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    overflow: hidden;
    
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1{
            margin-bottom: 1rem;
        }
        p{
            text-align: justify;
        }
    }

    &__img{
        overflow: hidden;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-item{
            height: 75%;
            width: 85%;
            border-radius: 50%;
            box-shadow: 0 0 12px .5px $color-primary;
        }
    }
}