*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000308;
    background-image: $color-bg;
    background-attachment: fixed;
    background-size: cover;
}
html{
    scroll-behavior: smooth;
}
